/**
 * config.js - Application configuration.
 */

/**
 * @type {Object}
 */
var appConfig = {};
global.appConfig = appConfig;

(function(global) {
  'use strict';

  appConfig = {
    rootNs: 'App'
  };

  return appConfig;
}(this));
